* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  background-color: grey;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99; }
  nav .logo {
    width: 92px;
    height: 42px;
    background-color: blueviolet; }
  nav .links a {
    color: #ffffff;
    text-decoration: none; }
  nav .links span {
    color: #ffffff;
    margin: 0 20px; }

.banner {
  max-width: 1280px;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto; }

.form-content {
  max-width: 818px;
  min-height: 200px;
  margin: 0 auto; }
  .form-content .top-boxes {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .form-content .top-boxes .holder {
      position: relative; }
      .form-content .top-boxes .holder .long-box {
        width: 423px; }
      .form-content .top-boxes .holder input {
        width: 344px;
        height: 58px;
        padding-left: 10px;
        border: 3px solid #79addc; }
      .form-content .top-boxes .holder i {
        position: absolute;
        top: 20px;
        right: 10px; }
